In [1]:
# manual method
import pandas as pd
text = ['This is a line' , 'This is another line' , 'Completeley different line']

In [3]:
words_one = text[0].split()
uni_words_one = set(words_one)
uni_words_one

{'This', 'a', 'is', 'line'}

In [4]:
words_two = text[1].split()
uni_words_two = set(words_two)
uni_words_two

{'This', 'another', 'is', 'line'}

In [5]:
words_three = text[2].split()
uni_words_three = set(words_three)
uni_words_three

{'Completeley', 'different', 'line'}

In [6]:
all_uni_words = set()
all_uni_words.update(uni_words_one)
all_uni_words.update(uni_words_two)
all_uni_words.update(uni_words_three)
all_uni_words

{'Completeley', 'This', 'a', 'another', 'different', 'is', 'line'}

In [9]:
full_vocab = dict()
i = 0 
for word in all_uni_words:
    full_vocab[word] = i
    i = i+1
full_vocab

{'line': 0,
 'a': 1,
 'another': 2,
 'This': 3,
 'different': 4,
 'Completeley': 5,
 'is': 6}

In [11]:
one_freq = [0]*len(full_vocab)
two_freq = [0]*len(full_vocab)
three_freq = [0] * len(full_vocab)
all_words = ['']*len(full_vocab)

one_text = text[0].split()
for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind] += 1
two_text = text[1].split()
for word in two_text:
    word_ind = full_vocab[word]
    two_freq[word_ind] += 1
three_text = text[2].split()
for word in three_text:
    word_ind = full_vocab[word]
    three_freq[word_ind] += 1
for word in full_vocab:
    word_ind = full_vocab[word]
    all_words[word_ind] = word

In [12]:
bow = pd.DataFrame(data=[one_freq , two_freq , three_freq] , columns=all_words)
bow

   line  a  another  This  different  Completeley  is
0     1  1        0     1          0            0   1
1     1  0        1     1          0            0   1
2     1  0        0     0          1            1   0

In [13]:
# SK LEARN PROCCESS

In [14]:
from sklearn.feature_extraction.text import CountVectorizer , TfidfTransformer , TfidfVectorizer
cv = CountVectorizer()
sparse_mat = cv.fit_transform(text)
sparse_mat.todense()

matrix([[0, 0, 0, 1, 1, 1],
        [1, 0, 0, 1, 1, 1],
        [0, 1, 1, 0, 1, 0]], dtype=int64)

In [16]:
cv.vocabulary_

{'this': 5, 'is': 3, 'line': 4, 'another': 0, 'completeley': 1, 'different': 2}

In [22]:
tfidf_tran = TfidfTransformer()
sparse_mat = tfidf_tran.fit_transform(sparse_mat)
sparse_mat.todense()

matrix([[0.        , 0.        , 0.        , 0.61980538, 0.48133417,
         0.61980538],
        [0.63174505, 0.        , 0.        , 0.4804584 , 0.37311881,
         0.4804584 ],
        [0.        , 0.65249088, 0.65249088, 0.        , 0.38537163,
         0.        ]])

In [ ]:
tfidf = TfidfVectorizer()
mat = tfidf.f